.container{
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordField{
    height: 200px;
    width: 960px;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter{
    border: 1px solid #ccc;
    border-radius: 6px;;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 30px;
    float: left;
    margin:2px;
}

.theWord{
    border: 1px solid #ccc;
    border-radius: 6px;;
    height: 60px;
    width: 60px;
    float: left;
    text-align: center;
    font-size: 46px;
    margin:0 auto;
    text-align: center;
}

.theKey{
    visibility: hidden;
}

.keyboard{
    width: 460px;
    height: 200px;
    text-align: center;
    font-size: 30px;
}


.halfLetter{
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 20px;
    text-align: center;
    font-size: 30px;
    float: left;
    margin:2px;
}

.oneHalfLetter{
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 60px;
    text-align: center;
    font-size: 30px;
    float: left;
    margin:2px;
}